@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

100% {
      transform: rotate(360deg);
  }
}

.add-button {
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    font-weight: 500;
    color: white;
    text-align: center;
}

.add-button:hover {
    background-color: var(--primary-dark);
}

.auth-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
}

.auth-button:hover {
    background-color: var(--primary-dark);
}

.auth-required {
    box-shadow: var(--box-shadow);
    padding: 3rem;
    background: white;
    border-radius: var(--border-radius);
    text-align: center;
}

.calendar-card {
    box-shadow: var(--box-shadow);
    min-height: 8rem;
    padding: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--text-color);
    border-radius: var(--border-radius);
}

.calendar-card-body{
    display: flex;
    color: white;
}

.calendar-card-header {
    padding-bottom: 0.5rem;
    color:white;
    text-align: center;
}

.calendar-container{
    margin-bottom: 1rem;
}

.calendar-table::-webkit-scrollbar {
    display: none;
}

.calendar-table {
    overflow: auto;
    width: auto;
}

.calendar-table-effort{
    transform: scale(3);
}

.calendar-table-effort.none{
    opacity: 0.2;
    color: white;
    transform: scale(5);
}

.calendar-table-effort.baja{
    margin-bottom: 0rem;
    color: #4caf50;
}

.calendar-table-effort.media{
    bottom: 2rem;
    color: #ff9800;
}

.calendar-table-effort.alta{
    margin-bottom: 4rem;
    color: #e91e63;
}

.calendar-table table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}

.calendar-table th {
    padding: 5px;
    background-color: transparent;
    border: 0;
    color: white;
}

.calendar-table td {
    padding: 5px;
    border-right: 1px solid #dededf88;
    border-bottom: 1px solid #dededf88;
    border-left: 1px solid #dededf88;
}

.calendar-table tr td {
    background-color: transparent;
    color: white;
}

.calendar-table-y-tag{
    display: flex;
    transform: rotate(-90deg);
    max-height: fit-content;
}

.card-body {
    display: block;
    flex: 1;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.card-body p {
    display: flex;
    margin: 0.75rem 0;
    margin-bottom: 0;
    color: var(--text-color);
}

.card-body strong {
    display: inline-block;
    min-width: 80px;
    color: var(--text-light);
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
}

.card-details-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--secondary-color);
}

.card-header h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.details-button {
  padding: 0.5rem;
}

.edit-button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #2e7d32;
  border: 1px solid #2e7d32;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  transition: all 0.3s;
}

.exercise-main-stat{
    display: flex;
    justify-content: space-between;
}

.exercise-main-stats{
    margin-bottom: 1rem;
}

.details-button a{
  padding: 0;
  margin: 0;
}

.empty-state p {
    margin-bottom: 1rem;
    color: var(--text-light);
}

.error-message h2 {
    margin-bottom: 1rem;
    color: var(--error-color);
}

.feature-icon{
      margin: 0;
      font-size: 1rem;
  }

.intensity {
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #e8f5e9;
    color: #2e7d32;
}

.loading-spinner {
    width: 40px;
    height: 40px;
    margin: 0 auto 1rem;
    animation: spin 1s linear infinite;
    border: 4px solid rgba(25, 118, 210, 0.1);
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
}

.chart-card {
    text-align: center;
    box-shadow: var(--box-shadow);
    min-height: 8rem;
    padding: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.stats-by-training-card {
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: white;
    border-radius: var(--border-radius);
    color: white;
}

.stats-by-training-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.stats-by-training-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 1rem;
}

.stats-card {
    box-shadow: var(--box-shadow);
    display: block;
    justify-content: center;
    align-content: center;
    min-height: 8rem;
    padding: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: var(--border-radius);
    color: white;
}

.stats-card-body {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.stats-card.Alta {
    background-color: #c62828;
}

.stats-card.Baja {
    background-color: #2e7d32;
}

.stats-card.Intensidad {
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));*/
    background-color: #3084d7;
}

.stats-card.Media {
    background-color: #f57f17;
}

.stats-card.Peso {
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));*/
    background-color: #ff9800;
}

.stats-card.Tiempo {
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));*/
    background-color: #e91e63;
}

.stats-card.Zona {
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));*/
    background-color: #4caf50;
}

.stats-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;
}

.stats-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.stats-header h2 {
    margin: 0;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.stats-header-button {
    display: block;
    align-items: center;
    border: 2px solid var(--primary-color);
}

.stats-header-title-desktop {
    display: block;
}

.stats-header-title-mobile {
    display: none;
    text-align: center;
}

.stats-icon {
    transform-origin: bottom left;
    scale: 5;
    z-index: 1;
    opacity: 0.2;
    margin-bottom: -7rem;
    margin-left: 0.5rem;
    color: white;
}

.stats-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.stats-title {
    z-index: 1;
    opacity: 0.7;
    margin-right: 0.5rem;
    margin-bottom: -2rem;
    color: var(--secondary-color);
    text-align: end;
    white-space: nowrap;
}

.training-collapse-button {
    width: 100%;
}

@media (max-width: 600px) {
    .card-details-name {
        font-size: smaller;
        max-width: 80%;
    }
    .stats-list {
          padding: 1rem;
      }

    .stats-by-training-grid {
          grid-template-columns: 1fr;
      }

    .stats-grid {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }

    .stats-header-button {
          width: 100%;
      }

    .stats-header {
          margin-bottom: 0rem;
      }

    .stats-header-title-desktop {
          display: none;
      }

    .stats-header-title-mobile {
          display: block;
          padding-bottom: 20px;
      }

    .stats-header {
          display: block;
          margin-top: 0;
      }

    .stats-title{
      font-size: 10pt;
    }
}
